.bottom-bar {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.fixed-element {
  padding: 10px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  .poly-icon {
    transform: rotate(0);
    transition: all 0.3s ease-in;
  }

  &.visible {
    .poly-icon {
      transform: rotate(90deg);
    }
  }
}

.element-one,
.element-two {
  position: absolute;
  padding: 10px;
  opacity: 0;
  transition: all 0.3s ease-in;
  top: 15px;
  right: 15px;
}

.visible {
  opacity: 1;
}

.element-one.visible {
  top: -60px;
  right: 65px;
}

.element-two.visible {
  top: 24px;
  right: 111px;
}
