nav {
  @apply h-[131px];
  .navigation-wrapper {
    @apply md:static fixed h-[131px] top-0 left-0 right-0 z-50 flex items-center gap-12 md:justify-start justify-between py-4 px-8 text-white bg-dark;

    .logo-image {
      width: 200px;
    }

    .nav-links {
      @apply flex md:flex-row gap-8 flex-col md:transform-none -translate-x-full md:static fixed top-[131px] left-0 right-0 bottom-0 bg-dark items-center transition-transform ease-in-out duration-300;
      &.open {
        @apply translate-x-0;
      }
    }

    .hamburger {
      @apply md:hidden block cursor-pointer relative w-[30px] h-[22px];

      span {
        @apply block absolute h-[3px] w-full bg-white rounded-md opacity-100 left-0 rotate-0 transition-all duration-300 ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation-wrapper .hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }

  .navigation-wrapper .hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }

  .navigation-wrapper .hamburger span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
  }

  .navigation-wrapper .hamburger span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
  }

  /* Styles for hamburger when navigation is open */
  .navigation-wrapper .hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: calc(50% - 9px);
  }

  .navigation-wrapper .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .navigation-wrapper .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: calc(50% - 9px);
  }
}
